grant {
	permission java.lang.RuntimePermission "getenv.HOME";
	permission java.io.FilePermission "/home/amok/etc/conf/gameground-clientrc", "read";
	permission java.net.SocketPermission "127.0.0.1:7777", "resolve,connect";
	permission java.net.SocketPermission "codestation.org:7777", "resolve,connect";
	permission java.net.SocketPermission "codestation.org:80", "resolve,connect";
  permission java.awt.AWTPermission "showWindowWithoutWarningBanner";
  permission java.awt.AWTPermission "accessClipboard";
	permission java.util.PropertyPermission "user.home", "read";
	permission java.util.PropertyPermission "user.dir", "read";
	permission java.io.FilePermission "${user.home}/../..", "read";
	permission java.io.FilePermission "${user.home}/..", "read";
	permission java.io.FilePermission "${user.home}", "read";
	permission java.io.FilePermission "${user.home}/-", "read,write";
};
