<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
		<title>GameGround - an HTML5 client.</title>
		<link href="gameground.css" rel="stylesheet" type="text/css" />
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script type="text/JavaScript" src="https://codestation.org/js/sha1.js"></script>
		<script src="Player.js" defer></script>
		<script src="Logic.js" defer></script>
		<script src="Party.js" defer></script>
		<script src="MessageBox.js" defer></script>
		<script src="Browser.js" defer></script>
		<script src="Chat.js" defer></script>
		<script src="Boggle.js" defer></script>
		<script src="NewGameConfigurator.js" defer></script>
		<script src="BoggleConfigurator.js" defer></script>
		<script src="Galaxy.js" defer></script>
		<script src="GalaxyConfigurator.js" defer></script>
		<script src="Go.js" defer></script>
		<script src="GoConfigurator.js" defer></script>
		<script src="Gomoku.js" defer></script>
		<script src="GomokuConfigurator.js" defer></script>
		<script src="SetBang.js" defer></script>
		<script src="SetBangConfigurator.js" defer></script>
		<script src="Login.js" defer></script>
		<script src="gameground.js" defer></script>
		<script src="LogPad.js" defer></script>
	</head>
	<body>
		<audio id="snd-login"><source src="service-login.wav" type="audio/wav" /></audio>
		<audio id="snd-logout"><source src="service-logout.wav" type="audio/wav" /></audio>
		<audio id="snd-call"><source src="phone-incoming-call.wav" type="audio/wav" /></audio>
		<audio id="snd-notify"><source src="message-new-instant.wav" type="audio/wav" /></audio>
		<audio id="snd-dice"><source src="dice-roll.wav" type="audio/wav" /></audio>
		<audio id="snd-stone"><source src="stone.wav" type="audio/wav" /></audio>
		<div id="root">
			<div id="app" v-if="is_connected()">
				<div id="tab-bar">
					<button
						v-for="tab in partys"
						v-bind:key="tab._id"
						v-bind:class="['tab-button', { active: currentTab === tab._id }, { notified: tab.is_notified() }]"
						v-on:click="make_visible( tab._id )"
						v-on:click.middle="close_party( tab._id )"
						>{{ tab.name }}
					</button>
					<button class="tab-button close-button active" v-show="currentTab != 'browser'" v-on:click="close_party( currentTab )">&#10006;</button>
				</div>
				<hr class="tab-bar-line" />
				<component v-for="tab in partys" v-show="currentTab === tab._id" :data="tab" :key="tab._id" :is="tab.constructor.TAG"></component>
			</div>
			<login v-else></login>
			<component v-if="modal != null" :data="modal" :is="modal.constructor.TAG"></component>
		</div>
	</body>
</html>
