<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
		<title>GameGround - an HTML5 client.</title>
		<link href="gameground.css" rel="stylesheet" type="text/css" />
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script type="text/JavaScript" src="https://codestation.org/js/sha1.js"></script>
		<script src="Player.js" defer></script>
		<script src="Logic.js" defer></script>
		<script src="Party.js" defer></script>
		<script src="MessageBox.js" defer></script>
		<script src="Browser.js" defer></script>
		<script src="Chat.js" defer></script>
		<script src="Boggle.js" defer></script>
		<script src="NewGameConfigurator.js" defer></script>
		<script src="BoggleConfigurator.js" defer></script>
		<script src="Galaxy.js" defer></script>
		<script src="GalaxyConfigurator.js" defer></script>
		<script src="Go.js" defer></script>
		<script src="GoConfigurator.js" defer></script>
		<script src="Gomoku.js" defer></script>
		<script src="GomokuConfigurator.js" defer></script>
		<script src="SetBang.js" defer></script>
		<script src="SetBangConfigurator.js" defer></script>
		<script src="gameground.js" defer></script>
	</head>
	<body>
		<audio id="snd-call">
			<source src="phone-incoming-call.wav" type="audio/wav" />
		</audio>
		<div id="root">
			<div id="app" v-if="is_connected()">
				<div id="tab-bar">
					<button
						v-for="tab in partys"
						v-if="tab._active"
						v-bind:key="tab._id"
						v-bind:class="['tab-button', { active: currentTab === tab._id }]"
						v-on:click="make_visible( tab._id )"
						v-on:click.middle="close_party( tab._id )"
						>{{ tab.name }}
					</button>
					<button class="tab-button close-button active" v-show="currentTab != 'browser'" v-on:click="close_party( currentTab )">&#10006;</button>
				</div>
				<hr class="tab-bar-line" />
				<component v-for="tab in partys" v-show="currentTab === tab._id" :data="tab" :key="tab._id" :is="tab.constructor.TAG"></component>
			</div>
			<div id="connect" v-else>
				<div id="logo" style="height: 140px;background: url(gameground.svg) no-repeat center center;"></div>
				<form name="connect" action="JavaScript:on_connect_click()">
					<div id="connect-info">
						<label>Your name:</label>
						<input name="login" type="text" title="Your GameGround world name (required)." />
						<label>Password:</label>
						<input name="password" type="password" title="Your password (optional)." />
						<label>Server:</label>
						<input name="server" type="text" value="127.0.0.1" title="Address of the server that hosts the game (required)." />
						<label>Port:</label>
						<input name="port" type="number" min="1025" value="7777" title="Port that game server is bound to (optional)." />
					</div>
					<div id="connect-buttons">
						<button title="Click me to join the GameGround server.">Connect!</button>
						<button type="button" title="go to codestation.org" onclick="JavaScript:window.location.href='https://codestation.org/'">Exit!</button>
					</div>
				</form>
			</div>
			<component v-if="modal != null" :data="modal" :is="modal.constructor.TAG"></component>
		</div>
	</body>
</html>
