html, body {
	margin: 0px;
	height: 100%;
	background: #eee;
}
ul, li {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
li.expanded:before {
	width: 2em;
	content: "╰⊟";
	display: inline-block;
}
li.collapsed:before {
	width: 2em;
	content: "╰⊞";
	display: inline-block;
}
li.empty:before {
	width: 2em;
	content: "╰⊡";
	display: inline-block;
}
.noselect, label {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	-o-user-select: none;
	user-select: none;
}
.listwidget li:hover {
	background: #def;
}
label, button {
	font-weight: bold;
	font-family: sans-serif;
}
.tab-button {
	margin: -1px;
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	color: #333;
	background: #eee;
	border: 1px solid black;
	border-bottom: 0px none;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 1px;
	border-bottom-right-radius: 1px;
}
.close-button {
	float: right;
	font-size: 20px;
	padding-top: 1px;
	padding-bottom: 0px;
	padding-left: 4px;
	padding-right: 4px;
	color: #666;
}
.tab-button.active {
	background: #def;
	border-bottom: 1px solid #def;
}
.active:hover, .tab-button:hover {
	color: #000;
	background: #d8e8f8;
}
.tab-pane {
	padding: 8px;
}
.messages {
	overflow-y: auto;
	background: #fff;
	border: black solid 1px;
}
#root, #app {
	height: 100%;
}
#tab-bar {
	padding: 8px;
	padding-bottom: 0px;
	border-bottom: 1px solid black;
}
.tab-bar-line {
	margin: 0px;
	padding: 0px;
	height: 8px;
	color: #def;
	background: #def;
	border: 0px none;

}
#browser {
	grid-template-columns: auto 7% 7% 7% 7%;
	grid-template-rows: 16px auto 24px 24px 24px 24px;
	grid-column-gap: 8px;
	grid-row-gap: 8px;
	height: calc( 100% - 64px );
	width: calc( 100% - 16px );
	display: grid;
}
#connect {
	position: absolute;
	width: 100%;
	height: 40ex;
	margin: auto;
	top: 0;
	bottom: 0;
}
#connect-info {
	grid-template-columns: 8em auto;
	grid-template-rows: auto auto auto auto auto;
	grid-column-gap: 8px;
	grid-row-gap: 8px;
	display: grid;
	width: 32em;
	margin: auto;
}
#connect-info label {
	display: flex;
	margin-left: auto;
	align-items: center;
}
#connect-buttons {
	grid-template-columns: auto auto;
	grid-column-gap: 8px;
	grid-row-gap: 8px;
	display: grid;
	width: 16em;
	margin: auto;
}
#chat-view {
	grid-row: 2 / span 3;
}
#chat-input-field {
	grid-row: 5 / span 2;
}
#chat-input {
	margin-top: 5px;
	width: calc( 100% - 18px );
}
#games {
	grid-column: 2 / span 2;
	grid-row: 2;
	background: #fff;
	border: black solid 1px;
}
#players {
	grid-column: 4 / span 2;
	grid-row: 2;
	background: #fff;
	border: black solid 1px;
}
#btn-join, #btn-create, #btn-account, #btn-disconnect {
	grid-column: 3 / span 2;
}
.chat {
	grid-template-columns: auto;
	grid-template-rows: 16px auto 16px 32px;
	grid-column-gap: 8px;
	grid-row-gap: 8px;
	height: calc( 100% - 64px );
	width: calc( 100% - 16px );
	display: grid;
}
